aws:
  access_key: "${AWS_ACCESS_KEY_ID}"
  secret_key: "${AWS_SECRET_ACCESS_KEY}"
  region: 'us-west-2'
  bucket: 'consul-beanstalk-deployments'
  bucket_path: 'consul-cluster'

app:
  versions_to_keep: 20
  app_name: 'ConsulCluster'
  description: 'Clusters Consul'

  all_environments:
    tier_name: WebServer
    tier_type: Standard
    tier_version: 1.0
    solution_stack_name: 64bit Amazon Linux 2015.09 v2.0.8 running Multi-container Docker 1.9.1 (Generic)

    option_settings:
      'aws:ec2:vpc':
        VPCId: vpc-9cf01bf8
        ELBScheme: public
        Subnets: subnet-fe27da9a
        AssociatePublicIpAddress: 'true'

      'aws:autoscaling:asg':
        'Availability Zones': Any

      'aws:autoscaling:launchconfiguration':
        Ec2KeyName: consul
        InstanceType: t2.small
        SecurityGroups: sg-9f03bdf8
        IamInstanceProfile: consul-ecs-instance

      'aws:autoscaling:updatepolicy:rollingupdate':
        RollingUpdateEnabled: 'true'
        PauseTime: PT1M

      'aws:elasticbeanstalk:hostmanager':
        LogPublicationControl: 'true'

      'aws:elb:loadbalancer':
        CrossZone: 'true'

      'aws:elb:healthcheck':
        Target: HTTP:8500/v1/health/state/critical

      'aws:elasticbeanstalk:environment':
        EnvironmentType: LoadBalanced

    archive:
      includes:
        - 'Dockerrun\.aws\.json'
      files:
        - .ebextensions/01-etc-hosts.config:
            yaml:
              commands:
                01_add_tags:
                  command: ec2-create-tags $(ec2-metadata -i | cut -d ' ' -f2) --tag component=consul-server

  environments:
    'consul-cluster-prod':
      cname_prefix: consul-cluster-prod

      option_settings:
        'aws:autoscaling:asg':
          MinSize: 2
          MaxSize: 5

        'aws:autoscaling:updatepolicy:rollingupdate':
          MinInstancesInService: 2
          MaxBatchSize: 2

# vim: set ft= ts=2 sw=2 sts=2 et tw=0 syntax=yaml :
